.banner {
    background-image: url(../img/background-header.png);
    background-size: 100%;
    display: flex;
    align-items: flex-start;
    height: 90vw;
    width: 100vw;
    padding: 5em 1.5em;
    flex-direction: column;
    justify-content: initial
}

.banner__titulo-principal {
    color: var(--branco);
    font-size: 18px;

    font-style: normal;
    text-transform: uppercase;
}

.banner__titulo-secundario {
    color: var(--azul-claro);
    font-size: 24px;
    font-weight: 700;
}

.banner-texto {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 1024px) {
    .banner {
        background-image: url(../img/header.png);
        background-size: 100%;
        background-repeat: no-repeat;
        display: flex;
        align-items: flex-start;
        height: 350px;
        width: 100vw;
        padding: 5em 1.5em
    }
}

.banner__titulo-principal, .banner__titulo-secundario{
    display: none;
}